h1{
    text-align: center;
    color: aliceblue;

    }
body{
    background-color: black;
}
 .container{
        text-align: center;
    }
    h2{
        text-align: center;
        color: aliceblue;
    }
    h3{
        color: aliceblue;

        }
        p{
            color: aliceblue;
        }
        .imag{
            text-align: center;
        }